/* ---------- general ---------- */

.address {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.address__link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    text-underline-offset: 3.5px;
}

.address__text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.link_active {
    text-decoration: none;
}

.not-list-style {
    list-style-type: none;
}

.block-black {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.aligned-text {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    display: block;
    letter-spacing: 30px;
    text-transform: uppercase;
    
}
.aligned-text_left {
    text-align: left;
   
}

.aligned-text_center {
    text-align: center;
    line-height: 100%;
    padding-top:20px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100%;
    padding-top:20px;
    
}

.letter-spacing-extended {
    letter-spacing:60px;
}
.no-letter-spacing {
    letter-spacing: 0;
}


/* ---------- header ---------- */

.header {
    padding: 92px 24px;
    display: flex;
    align-items: center;
    width: 100%;

}

.header__menu-list {
    display: flex;
    list-style-type: circle;
    padding: 0 38px 0 27px;
    margin: 0;
    gap: 33px;
}

.header__menu-list-item a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 3.5px;
}



.header__logo {
    padding-right: 184px;
}

.address {
    padding-top: 1px;
}

/* ---------- main ---------- */

.cover {
    position: relative;
    width: 100%;
    min-height: 757px;
    background: url('../images/cover.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.cover__title {
    padding: 165px 50px 128px;
    width: 100%;
    position: relative;
    z-index: 1;
 
}

.cover__block {
    padding: 7px 50px 0 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cover__text {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18.7px;
    text-transform: uppercase;
}

.cover__button {
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 31px;
    color: #FFF;
}

.lots {
    padding: 179px 24px 27px;
}

.lots__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 27px 41px;
}

.lots__wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;


}

.card_type_film  {
    background: url("../images/card-lot-01.jpg") no-repeat;
    height: 100%;
    padding: 51px 40px 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card_type_book  {
    background: url("../images/card-lot-02.jpg") no-repeat;
    height: 100%;
    padding: 51px 40px 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") no-repeat;
    height: 100%;
    padding: 51px 40px 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-background {
    max-width: 334px;
    min-height: 563px;
    background-position: center center;
    background-size: cover;
    position: relative;

}

.card {
    text-decoration: none;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    z-index: 1;

}

.card__text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}


.lots__link {
    padding: 30px 0 0 41px;
    text-underline-offset: 4.5px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}

 
.about {
    padding: 100px 10px 181px;
    display: flex;
    gap: 72px;
}

.about__logo {
    margin: 55px 0 0 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    background-color: #000;
}

.about__desc {
    margin-top: 156px;
    max-width: 693px;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.about__desc-title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__desc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;   
    flex-direction: column;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}




/* ---------- footer ---------- */

.footer {
    display: flex;
    align-items: center;
    gap: 167px;
    margin-bottom: 88px;
}

.address-padding {
    padding: 0 0 0 51px;
}

.footer__menu {
    padding: 0 0 33px 56px;
}

.footer__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;

}

.footer__menu-list-item a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 3.5px;
}

.footer__social-list{
    padding: 0 0 43px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
    list-style: none;
}

/* ---------------------------- */